//variables
$color_1: rgb(254, 254, 254);
$color_2: white;
$color_3: rgb(100,100,100);
$font-family_1: 'Roboto', sans-serif;
$background-color_1: rgb(25, 25, 25);
$background-color_2: rgb(245, 245, 245);
$background-color_3: green;
$background-color_4: rgb(30,30,30);
$background-color_5: rgb(230,230,230);